CS119.2 ESP/Inventory Posting Functional Area/Receipts/INVTMRDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2010 SYSPRO Ltd.-->
<!--
     Schema for Inventory Receipts Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApplyCostMultiplier" default="N">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether or not a cost multiplier must be applied to the cost of the receipt. IF not supplied it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinLocation">
    <xsd:annotation>
      <xsd:documentation>This element contains the bin location of the stock being received. If processing a negative receipt, only one bin location may be supplied. Any others will be ignored.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinPieces">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and bin quantity element is not supplied, the bin quantity must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinQuantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock item is not a unit-qty type stock item. If it is and this element is supplied, the units and pieces elements must NOT be supplied. The total bin quantity must match the quantity specified for the transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BinUnits">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and bin quantity element is not supplied, the bin quantity must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Bins">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the set of bins affected by this transaction, if multiple bins is installed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="BinLocation"/>
        <xsd:element ref="BinQuantity" minOccurs="0"/>
        <xsd:element ref="BinUnits" minOccurs="0"/>
        <xsd:element ref="BinPieces" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="eSignature">
    <xsd:annotation>
      <xsd:documentation>This element contains the GUID of the current process required to authenticate the transaction when Electronic Signatures are in use.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="38"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CostMultiplier">
    <xsd:annotation>
      <xsd:documentation>This element contains the cost multiplier to be applied to the cost of the receipt and only takes effect if 'ApplyCostMultiplier' is set to 'Y' and the cost multiplier against the warehouse is greater than 1.00. If this is not supplied, the warehouse cost multiplier is used.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FifoBucket">
    <xsd:annotation>
      <xsd:documentation>This element is optional. If FIFO is installed and processing a negative receipt, a specific FIFO bucket may be specified. If a FIFO bucket is supplied when processing a positive receipt, it will be ignored.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Item">
    <xsd:annotation>
      <xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Journal" minOccurs="0"/>
        <xsd:element ref="Warehouse"/>
        <xsd:element ref="StockCode"/>
        <xsd:element ref="Version" minOccurs="0"/>
        <xsd:element ref="Release" minOccurs="0"/>
        <xsd:element ref="Quantity" minOccurs="0"/>
        <xsd:element ref="UnitOfMeasure" minOccurs="0"/>
        <xsd:element ref="Units" minOccurs="0"/>
        <xsd:element ref="Pieces" minOccurs="0"/>
        <xsd:element ref="UnitCost" minOccurs="0"/>
        <xsd:element ref="TotalCost" minOccurs="0"/>
        <xsd:element ref="FifoBucket" minOccurs="0"/>
        <xsd:element ref="Lot" minOccurs="0"/>
        <xsd:element ref="LotConcession" minOccurs="0"/>
        <xsd:element ref="LotExpiryDate" minOccurs="0"/>
        <xsd:element ref="UseSingleTypeABCElements" minOccurs="0"/>
        <xsd:element ref="Bins" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="SerialRange" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="SerialAllocation" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="ApplyCostMultiplier" minOccurs="0"/>
        <xsd:element ref="CostMultiplier" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseCost" minOccurs="0"/>
        <xsd:element ref="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Reference" minOccurs="0"/>
        <xsd:element ref="Notation" minOccurs="0"/>
        <xsd:element ref="LedgerCode" minOccurs="0"/>
        <xsd:element ref="PasswordForLedgerCode" minOccurs="0"/>
        <xsd:element ref="eSignature" minOccurs="0"/>
        <xsd:element ref="AnalysisEntry" minOccurs="0"/>
        <xsd:element ref="AnalysisLineEntry" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Journal">
    <xsd:annotation>
      <xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the current posting period and warehouse and may not have been printed already. If not supplied a new journal will be created.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LedgerCode">
    <xsd:annotation>
      <xsd:documentation>This element is only used if Inventory is integrated to General Ledger or requires a Report,  and ledger codes are required for this type of inventory transaction. If entered and used, it must be a valid ledger code, and must not be on hold.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Lot">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory for lot traceable stock items if lot numbering is not automatic. However, if processing a negative receipt, the lot number must be specified.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LotConcession">
    <xsd:annotation>
      <xsd:documentation>This element is optional. However, if element 'IgnoreWarnings' is set to 'N', it must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LotExpiryDate">
    <xsd:annotation>
      <xsd:documentation>This element is optional. If supplied it must contain a valid date.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmAmount">
    <xsd:annotation>
      <xsd:documentation>This element contains the non-merchandise amount to be posted to the corresponding ledger code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmLedgerCode">
    <xsd:annotation>
      <xsd:documentation>This element contains the ledger code to which the non-merchandise amount must be posted.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NmReference">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="9"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonMerchandiseCost">
    <xsd:annotation>
      <xsd:documentation>This element contains a non merchandise cost to be applied and overrides the cost multiplier, if supplied. This only takes effect if 'ApplyCostMultiplier' is set to 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="NonMerchandiseDistribution">
    <xsd:annotation>
      <xsd:documentation>This is the top element for the non-merchandise distribution.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="NmReference"/>
        <xsd:element ref="NmLedgerCode"/>
        <xsd:element ref="NmAmount"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Notation">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="45"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PasswordForLedgerCode">
    <xsd:annotation>
      <xsd:documentation>If ledger codes require a password, this element must contain the relevant password for the specified ledger code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Pieces">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostInvReceipts">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Item" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Quantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock item is not a unit-qty type stock item. If it is and this element is supplied, the units and pieces elements must NOT be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Reference">
    <xsd:annotation>
      <xsd:documentation>This element is optional.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="9"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Release">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock is ECC-controlled at release level.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialExpiryDate">
    <xsd:annotation>
      <xsd:documentation>This element contains the expiry date of a new serial number or range of serial numbers being received into stock.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialLocation">
    <xsd:annotation>
      <xsd:documentation>This element contains the location of the serial number or range of serial numbers being received when processing a positive receipt.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="8"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialNumber">
    <xsd:annotation>
      <xsd:documentation>Serial number being received into stock.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="20"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialQuantity">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and specifies the quantity to receive for the specified serial number. If within the 'Serials' group and manual serial, it can only be 1 or -1. If within the 'SerialRange' or 'SerialAllocation' group, it is the total quantity to be received for the specified range.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="11"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialUnits">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and serialquantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. This element is only valid for batch serialized items.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialPieces">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and serialquantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. This element is only valid for batch serialized items.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Serials">
    <xsd:annotation>
      <xsd:documentation>A set of serial numbers and relevant information must be supplied if stock item specified is serialized.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="SerialNumber"/>
        <xsd:element ref="SerialQuantity" minOccurs="0"/>
        <xsd:element ref="SerialUnits" minOccurs="0"/>
        <xsd:element ref="SerialPieces" minOccurs="0"/>
        <xsd:element ref="SerialExpiryDate" minOccurs="0"/>
        <xsd:element ref="SerialLocation" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SerialRange">
    <xsd:annotation>
      <xsd:documentation>This element is used to specify a prefix and suffix or starting serial number for a range of new serial numbers to be generated. It is only valid when processing positive receipts for manual serialized stock items. It has two formats, depending on the serial key type. If serial numbers are ALPHANUMERIC, a prefix and a suffix need to be supplied. If serial numbers are NUMERIC, a starting serial number is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="SerialPrefix" minOccurs="0"/>
        <xsd:element ref="SerialSuffix" minOccurs="0"/>
        <xsd:element ref="StartSerialNumber" minOccurs="0"/>
        <xsd:element ref="SerialQuantity"/>
        <xsd:element ref="SerialExpiryDate" minOccurs="0"/>
        <xsd:element ref="SerialLocation" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SerialPrefix">
    <xsd:annotation>
      <xsd:documentation>This element specifies the prefix to be used when generating a range of ALPHANUMERIC serial numbers. Prefix + suffix cannot exceed the size of the serial number key which is 20 characters. Mandatory for ALPHANUMERIC serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialSuffix">
    <xsd:annotation>
      <xsd:documentation>This element specifies the suffix to be used when generating a range of ALPHANUMERIC serial numbers. The suffix element must be numeric. Prefix + suffix cannot exceed the size of the serial number key which is 20 characters. Mandatory for ALPHANUMERIC serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StartSerialNumber">
    <xsd:annotation>
      <xsd:documentation>This element specifies the starting serial number when generating a range of NUMERIC serial numbers. Mandatory for numeric serial numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SerialAllocation">
    <xsd:annotation>
      <xsd:documentation>This element is used to specify a range of serial numbers to be allocated. It is only valid when processing negative receipts for manual serialized stock items.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="FromSerialNumber"/>
        <xsd:element ref="ToSerialNumber" minOccurs="0"/>
        <xsd:element ref="SerialQuantity"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FromSerialNumber">
    <xsd:annotation>
      <xsd:documentation>This element specifies the starting serial number to be allocated when processing negative receipts.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="20"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ToSerialNumber">
    <xsd:annotation>
      <xsd:documentation>This element specifies the endingserial number to be allocated when processing negative receipts. If this element is not supplied, serial numbers will be allocated starting at the FromSerialNumber until the specified quantity has been allocated.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="20"/>
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="StockCode">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must contain a valid stock code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="30"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TotalCost">
    <xsd:annotation>
      <xsd:documentation>Total cost of the specified quantity. The unit cost will be calculated. Only one of the costs may be supplied. The transaction will be rejected if both are supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitCost">
    <xsd:annotation>
      <xsd:documentation>Unit cost of the specified quantity. Only one of the costs may be supplied. The transaction will be rejected if both are supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UnitOfMeasure">
    <xsd:annotation>
      <xsd:documentation>If quantity was supplied in a unit of measure different to the stocking unit of measure, this element must indicate the alternate unit of measure.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Units">
    <xsd:annotation>
      <xsd:documentation>If the stock item is a unit-qty type stock item and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="7"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="UseSingleTypeABCElements" default="N">
    <xsd:annotation>
      <xsd:documentation>This element is only valid if ABC costing is in use. If not supplied and ABC costing is required, it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="1"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Version">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory if stock is ECC-controlled at version or release level.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Warehouse">
    <xsd:annotation>
      <xsd:documentation>This element is mandatory and must contain a valid warehouse code.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:minLength value="1"/>
        <xsd:maxLength value="2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AnalysisEntry">
    <xsd:annotation>
      <xsd:documentation>If an analysis entry number has been assigned to this detail line, then use this element to store the analysis entry number. If Analysis Line entry is passed then that will overwrite and analysis number supplied in the AnalysisEntry element. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AnalysisLineEntry">
    <xsd:annotation>
      <xsd:documentation>If IgnoreAnalysis is set to 'Y" this node and all it's elements are ignored. If you are supplying your own AnalysisEntry Number ensure that you have set IgnoreAnalysis to "Y"</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AnalysisCode1">
          <xsd:annotation>
            <xsd:documentation>You can specify an analysis code 1 for the analysis entry you are createing </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AnalysisCode2">
          <xsd:annotation>
            <xsd:documentation>You can specify and analysis code 2 for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AnalysisCode3">
          <xsd:annotation>
            <xsd:documentation>You can specify an analysis code 3 for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AnalysisCode4">
          <xsd:annotation>
            <xsd:documentation>You can specify and analysis code 4 for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AnalysisCode5">
          <xsd:annotation>
            <xsd:documentation>You can specify and analysis code 5 for the analysis entry you are createing</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StartDate">
          <xsd:annotation>
            <xsd:documentation>You can specify a start date for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EndDate">
          <xsd:annotation>
            <xsd:documentation>You can specify an end date for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EntryAmount">
          <xsd:annotation>
            <xsd:documentation>You must specify and entry amount for the analysis entry you are creating.If the entry amount supplied does not agree with the calculated transaction value at runtime, the entry amount will be overwritten with the transaction value.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="16"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Comment">
          <xsd:annotation>
            <xsd:documentation>You can enter a comment for the analysis entry you are creating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="60"/>
              <xsd:whiteSpace value="preserve"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
